<style>
  .modal{
    text-align: left !important;
  }
</style>
<div class="modal fade" id="modalContactForm-{{team.code}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Apply for {{team.team_name}} Team</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'apply' %}" method="post">
        {% csrf_token %}

        <input type="hidden" name="next" value="{{ request.path }}">

      <div class="modal-body mx-3">

        <div class="md-form">
          <i class="fas fa-pencil prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="whyThisTeam">Why do you want to join this team?</label>
          <textarea type="text" name="whyTeam" class="md-textarea form-control" rows="4" required></textarea>
        </div>

        <div class="md-form">
          <i class="fas fa-pencil prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="prevExp">Do you have any previous experience in {{team.team_name}}?</label>
          <textarea type="text" name="prevExp" class="md-textarea form-control" rows="4" required></textarea>
        </div>

        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right" for="expectation" >Your preference: </label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="preference" id="1" value="1" required>
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="preference" id="2" value="2">
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="preference" id="3" value="3" >
            <label class="form-check-label" for="inlineRadio3">3</label>
          </div>
          {{team.code}}
        </div>
        <div class="md-form">
          <i class="fas fa-pencil prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="expectation">What are your Expectations from us?</label>
          <textarea type="text" name="expectation" class="md-textarea form-control" rows="4"></textarea>
        </div>
        <input type="hidden" name="team-code" value="{{team.code}}">
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Apply <i class="fas fa-paper-plane-o ml-1"></i></button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- <div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm">Launch
    Modal Contact Form</a>
</div> -->

<script>
  var data = JSON.parse("{{data|escapejs}}");
  console.log(data)
  console.log(data.lst)
  // for(var x in data.lst){
  //   //  document.getElementById(x).disabled = false; 

  //    console.log(x);
  // }
  for (let i = 0; i < data.lst.length; i++) {
    document.getElementById(data.lst[i].toString()).disabled = true;
  
}
console.log("{{helloji}}")
  
</script>