{% extends "users/layout.html" %}
{% block content %} 

    
    <div class="nav1">
        <nav>
            <a href="#" class="BUTTON_PWM">Technical Domains</a>
            <a href="{% url 'domains2' %}" class="BUTTON_PWM">Non-technical Domains</a>
        </nav>
    </div>
    <div class="container">
        <div class="row1">
        <div class="a">Web Development
            <div class="icon">
                <img src="https://img.icons8.com/ios-filled/50/000000/programming.png" alt="">
            </div>
            <div>
                <a href="{% url 'apply' 'web' %}" class="BUTTON_NMQ">APPLY</a>
            </div>
        </div>
        <div class="a">App Development
            <div class="icon">
                <img src="https://img.icons8.com/ios-filled/50/000000/ios-development.png" alt="">
            </div>
            <div>
                <a href="{% url 'apply' 'app' %}" class="BUTTON_NMQ">APPLY</a>
            </div>
        </div>
        <div class="a">Machine Learning
            <div class="icon">
                <img src="https://img.icons8.com/ios/50/000000/learning.png" alt="">
            </div>
            <div>
                <a href="{% url 'apply' 'ml' %}" class="BUTTON_NMQ">APPLY</a>
            </div>
        </div>

    </div>
    <div class="row2">
        <div class="a">Competitive Programming
            <div class="icon">
                <img src="https://img.icons8.com/ios-glyphs/30/000000/bug--v2.png" alt="">
            </div>
            <div>
                <a href="{% url 'apply' 'cp' %}" class="BUTTON_NMQ error">APPLY</a>
            </div>
        </div>
        <div class="a">Blockchain
            <div class="icon">
                <img src="https://img.icons8.com/dotty/50/000000/blockchain.png" alt="">
            </div>
            <div>
                <a href="#" class="BUTTON_NMQ">APPLY</a>
            </div>
        </div>
        <div class="a">Cyber-security
            <div class="icon">
                <img src="https://img.icons8.com/ios-filled/50/000000/cyber-security.png" alt="">
            </div>
            <div>
                <a href="#" class="BUTTON_NMQ">APPLY</a>
            </div>
        </div>
    </div>
    <div class="row3">
    <div class="a">DevOps and Cloud Computing
        <div class="icon">
            <img src="https://img.icons8.com/ios-filled/50/000000/cloud-computing.png" alt="">
        </div>
        <div>
            <a href="#" class="BUTTON_NMQ error">APPLY</a>
        </div>
    </div>
    </div>
    </div>
    <style>
        *{
    margin: 0;
    box-sizing: border-box;
}
.nav1{
    text-align: center;
    position: relative;
    top: 50px;
}
.BUTTON_PWM {
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px;
    color: #E4ECF2;
    font-family: Trebuchet MS;
    font-size: 25px;
    font-weight: 100;
    padding: 20px;
    margin: 40px;
    width: 300px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    background-color: #5C8CBB;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #000000 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_PWM:hover {
    border: solid #000000 1px;
    background: #23395C;
    background-image: -webkit-linear-gradient(top, #23395C, #5079BB);
    background-image: -moz-linear-gradient(top, #23395C, #5079BB);
    background-image: -ms-linear-gradient(top, #23395C, #5079BB);
    background-image: -o-linear-gradient(top, #23395C, #5079BB);
    background-image: -webkit-gradient(to bottom, #23395C, #5079BB);
    -webkit-border-radius: 88px;
    -moz-border-radius: 88px;
    border-radius: 88px;
    text-decoration: none;
 }
 a{
    text-decoration: 0;
    padding: 20px;
    color: #66bfbf;
}

.navigation{
    background-color: #313535;
    overflow: hidden;
    
}
.nav{
    float: right;
    padding: 20px;
    text-align: center;
}
#csi_logo{
    width: 100px;
    height: 60px;
    padding: 10px;
}
.container{
    flex-wrap: wrap;
    margin: 40px;
    align-items: center;
    
}
.row1,.row2,.row3{
    display: flex;
    margin: 20px;
    justify-content: center;
}
.a{
    width: 300px;
    height: 400px;
    align-content: stretch;
    overflow: hidden;
    margin: 20px;
    border: solid 5px #5079BB;
    text-align: center;
    font-size: 25px;
    font-weight: 10px;
    border-radius: 30px;
    padding-top: 20px;
    font-weight: bolder;

}
.icon img{
    width: 150px;
    height: 150px;
    margin-top: 50px;
}
.BUTTON_NMQ {
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px;
    color: #E4ECF2;
    font-family: Trebuchet MS;
    font-size: 25px;
    font-weight: 100;
    padding: 20px;
     margin: 40px;
    width: 200px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    background-color: #5C8CBB;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #000000 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_NMQ:hover {
    border: solid #000000 1px;
    background: #23395C;
    background-image: -webkit-linear-gradient(top, #23395C, #5079BB);
    background-image: -moz-linear-gradient(top, #23395C, #5079BB);
    background-image: -ms-linear-gradient(top, #23395C, #5079BB);
    background-image: -o-linear-gradient(top, #23395C, #5079BB);
    background-image: -webkit-gradient(to bottom, #23395C, #5079BB);
    -webkit-border-radius: 88px;
    -moz-border-radius: 88px;
    border-radius: 88px;
    text-decoration: none;
 }
 .error{
     margin-top: 12px;
 }

    </style>
    {% endblock %}