{% extends 'users/layout.html' %}
{% block content %}
<div class="nav1">
    <nav>
        <a href="#" class="BUTTON_PWM">Technical Domains</a>
        <a href="{% url 'domains2' %}" class="BUTTON_PWM">Non-technical Domains</a>
    </nav>
</div>
<div class="row row1">
    <div class="col-sm-4">
        <div class="card card1">
            <img class="card-img-top" src="https://img.icons8.com/ios-filled/50/000000/programming.png" alt="Card image cap">
            <div class="card-body ">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary button1">APPLY</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card1">
            <img class="card-img-top" src="https://img.icons8.com/ios-filled/50/000000/programming.png" alt="Card image cap">
            <div class="card-body ">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary button1">APPLY</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card1">
            <img class="card-img-top" src="https://img.icons8.com/ios-filled/50/000000/programming.png" alt="Card image cap">
            <div class="card-body ">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary button1">APPLY</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card1">
            <img class="card-img-top" src="https://img.icons8.com/ios-filled/50/000000/programming.png" alt="Card image cap">
            <div class="card-body ">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary button1">APPLY</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card1">
            <img class="card-img-top" src="https://img.icons8.com/ios-filled/50/000000/programming.png" alt="Card image cap">
            <div class="card-body ">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary button1">APPLY</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card1">
            <img class="card-img-top" src="https://img.icons8.com/ios-filled/50/000000/programming.png" alt="Card image cap">
            <div class="card-body ">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary button1">APPLY</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 card2">
        <div class="card card1">
            <img class="card-img-top" src="https://img.icons8.com/ios-filled/50/000000/programming.png" alt="Card image cap">
            <div class="card-body ">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary button1">APPLY</a>
            </div>
        </div>
    </div>
</div>
<style>
    .nav1 {
        text-align: center;
        position: relative;
        top: 50px;
    }

    .BUTTON_PWM {
        -webkit-border-radius: 48px;
        -moz-border-radius: 48px;
        border-radius: 48px;
        color: #E4ECF2;
        font-family: Trebuchet MS;
        font-size: 25px;
        font-weight: 100;
        padding: 20px;
        margin: 30px;
        width: 300px;
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
        background-color: #5C8CBB;
        -webkit-box-shadow: 1px 1px 20px 0 #000000;
        -moz-box-shadow: 1px 1px 20px 0 #000000;
        box-shadow: 1px 1px 20px 0 #000000;
        text-shadow: 1px 1px 20px #000000;
        border: solid #000000 1px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
    }

    .BUTTON_PWM:hover {
        border: solid #000000 1px;
        background: #23395C;
        background-image: -webkit-linear-gradient(top, #23395C, #5079BB);
        background-image: -moz-linear-gradient(top, #23395C, #5079BB);
        background-image: -ms-linear-gradient(top, #23395C, #5079BB);
        background-image: -o-linear-gradient(top, #23395C, #5079BB);
        background-image: -webkit-gradient(to bottom, #23395C, #5079BB);
        -webkit-border-radius: 88px;
        -moz-border-radius: 88px;
        border-radius: 88px;
        text-decoration: none;
    }

    .card1 {
        margin: auto;
        margin-top: 3rem;
        /* width: 80%;
        height: 20rem; */
        text-align: center;

    }
    .row1{
        margin-top: 2.5rem;

    }

    .button1 {
        width: 75%;
    }
    .card2{
        margin: auto;
        display: block;
    }
</style>


{% endblock %}