<style>
    body.sigin-body{
    margin-top: 3%;
   background-color: #e6f2ff;
}
.container.sigin-container{
    margin-top: 3%;
    
}
.card.sigin-card{
    padding: 40px 0px 20px;
    display: block;
    background-color: rgba(251, 255, 255, 0.404);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    margin: auto;
    max-width: 400px;
}
.signin-img{
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
    width: 40%;
    height: 40%;
    align-self: auto;
   
}
h3{
    font-family: sans-serif;
    color: black;
}
.card-body{
  text-align: center;
  margin:auto ;
  display: block;
}
.card-block
{
  margin: auto;
 
    text-align: center;
    
}

.form-group{
   
    margin: auto;
    display: block;
    
    width: 75%;
    margin-top: 1rem;

}
  form.sigin-form
{
    max-width: 350px;
    margin: auto;
    padding: 0 1rem 1rem;
}
button.sigin-btn{
    color: white;
    background-color: rgb(0, 59, 253);
    width: 75%;
    margin-bottom: 1rem;
}

button.sigin-btn:hover{
    background-color: rgba(2, 138, 218, 0.877);
    color: black;
}
a.create-new-account{
    font-size: 1.2rem;
    text-align: center;
    display: block;
    margin-top: 1rem;
    text-decoration: none;
}
a.create-new-account:hover{
  font-size:1.5rem ;
  color: rgb(142, 8, 231);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe00;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: rgba(255, 0, 0, 0.829);
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
  .col1{
      border: none;
      
  }
</style>

<!-- The Modal -->
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close"
        title="Close Modal">&times;</span>
    <!-- Modal Content -->
    <form class="modal-content animate" action="/action_page.php">


        <div class="container sigin-container">
            <div class="row">
                <div class="col-sm-12 col1 ">
                    <div class="card sigin-card">
                        <div class="card-body">
                            <div class="card-block">
                                <img src="https://www.pictcsi.com/assets/CSI%20Logo%20Nav.png" class="img-fluid sigin-img">
                                <br>
                                <form class="sigin-form">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="emailInput" placeholder="Email"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="passwordInput2"
                                            placeholder="Password" required>
                                    </div>
                                    <br>
                                    <button type="button" class="btn sigin-btn btn-lg">LOG IN</button>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox"> Remember me <a href="#">
                                                Need Help?</a>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>