      <style>
          img.img1 {
              max-width: 50%;
          }
          .img-container {
              display: block;
              margin: auto;
              text-align: center;
          }
          .wrapper {
            background-color:  rgb(34, 31, 31);
          }
          .login-portal, .f1 {
            background-color: #505353
          }
          .b1 {
            background-color: #11999E ;
          }
          .main-wrapper {
            border: 1px solid;
            /* padding: 10px; */
            box-shadow: 5px 10px 18px #4d4c4c;
          }
          .form-group {
            color: antiquewhite;
          }
          h5.login-portal {
            color: antiquewhite;
          }
      </style>
    

    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button> -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content main-wrapper">
            <div class="modal-header login-portal">
              <h5 class="modal-title login-portal" id="exampleModalLabel">Login Portal</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body wrapper">
                <div class="container-fluid ">
                    <div class="row img-container">
                        <div class="col-sm-12 ">
                            <img class="img-fluid img1" src="https://www.pictcsi.com/assets/CSI%20Logo%20Nav.png" alt="">
                        </div>
                    </div>
                </div>
              <form>
                <div class="form-group">
                  <label for="login-id" class="col-form-label">Login-ID</label>
                  <input type="text" class="form-control f1" id="login-id">
                </div>
                <div class="form-group">
                  <label for="password" class="col-form-label">Password</label>
                  <!-- <textarea  class="form-control" id="message-text"></textarea> -->
                  <div class="pass">
                    <input type="password" class="form-control f1">
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer login-portal">
              <button type="button" class="btn btn-secondary b1" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary b1">Login</button>
            </div>
          </div>
        </div>
      </div>
    