{% extends 'users/layout.html' %}


{% block content %}

<style>
    body {
        font: 300 14px/18px Roboto
    }

    *,
    :after,
    :before {
        box-sizing: border-box
    }

    .clearfix:after,
    .clearfix:before {
        content: '';
        display: table
    }

    .clearfix:after {
        clear: both;
        display: block
    }

    .muck-up {
        width: 310px;
        height: 545px;
        margin: 5em auto;
        position: relative;
        overflow: hidden;
    }

    .overlay {
        background: url(https://media-exp1.licdn.com/dms/image/C4E0BAQHrTMepCzRupQ/company-logo_200_200/0/1627144153563?e=2159024400&v=beta&t=SopXBb8dLrNqKJvFugVA4J3H3gSHJNJllRMMO7B8Ex4) no-repeat top /contain;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .overlay:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(71, 32, 84, 0.5);
    }

    .muck-up>.top {
        position: relative;
        min-height: 290px;
        padding: 15px;
        color: #fff;
    }

    .ion-android-menu {
        font-size: 24px;
        margin-right: 17px;
    }

    .nav .ion-ios-more-outline {
        font-size: 38px;
        float: right !important;
    }

    .user-profile {
        margin-top: 90px;
    }

    .user-profile img {
        height: 30%;
        width: 30%;
        float: left;
        margin-right: 18px;
        margin-bottom: 6rem;
    }

    .user-details p {
        font-size: 30px;
        float: left;
    }

    .user-details {
        float: left;
        vertical-align: bottom;
        padding: 20px;
        padding-left: 0%;
        margin-left: 0%;
        margin-top: 5%;


    }

    .user-details h4 {
        font-size: 25px;
        font-weight: 900;
    }

    .filter-btn {
        position: absolute;
        z-index: 2;
        right: 0;
        width: 40px;
        height: 40px;
        transition: all 0.4s ease-in-out 0s;
    }

    .filter-btn span {
        width: 40px;
        height: 40px;
        background: #FA396B;
        display: block;
        position: absolute;
        right: 25px;
        top: -46px;
        text-align: center;
        color: #fff;
        line-height: 40px;
        border-radius: 50%;
        font-size: 22px;
        z-index: 999;
    }

    span.toggle-btn.ion-android-funnel:hover {
        cursor: pointer;
    }

    .filter-btn a {
        position: absolute;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        right: 25px;
        display: block;
        top: -46px;
        color: #fff;
        z-index: 99;
        font-size: 22px;
        transition: all .4s cubic-bezier(.68, 1, .265, 1)
    }

    .filter-btn:after {
        height: 170px;
        width: 170px;
        content: '"\f38b"';
        background-color: #FA396B;
        position: absolute;
        top: -110px;
        right: -40px;
        border-radius: 50%;
        transform: scale(0);
        transition: all 0.3s ease-in-out 0s;
    }

    .filter-btn.open span.toggle-btn.ion-android-funnel {
        background-color: #DE3963;
    }

    .filter-btn.open .ion-android-funnel:before {
        content: "\f2d7";
    }

    .open:after {
        transform: scale(1);
    }

    .filter-btn.open a:nth-child(1) {
        transform: translate(9px, -62px);
    }

    .filter-btn.open a:nth-child(2) {
        transform: translate(-50px, -34px);
    }

    .filter-btn.open a:nth-child(3) {
        transform: translate(-56px, 25px);
    }

    .filter-btn.open a:nth-child(4) {
        transform: translate(5px, 61px);
    }

    .muck-up .bottom {
        background-color: #fff;
        min-height: 303px;
        z-index: 1;
        padding: 35px;
        position: relative;
        color: #222;
        padding-top: 0px;
    }

    .bottom:after {
        content: '';
        position: absolute;
        top: -46px;
        background: #fff;
        left: -22px;
        right: 0;
        height: 100px;
        transform: rotate(10deg);
        width: 337px;
        z-index: -1;
    }

    .bottom .title {
        margin-bottom: 20px;
    }

    .bottom .title h3 {
        font-size: 30px;
        margin-bottom: 3px;
    }

    .title small {
        font-size: 20px;
        color: #888;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    ul.tasks .task-title {
        font-size: 20px;
        display: inline-block;
    }

    ul.tasks .task-time {
        float: right;
        font-size: 30px;
        color: #888;
        margin-top: 0px;
    }

    ul.tasks .task-cat {
        font-size: 10px;
        display: block;
        color: #888;
    }

    ul.tasks li {
        margin-bottom: 0px;
        position: relative;
        z-index: 8;
    }

    ul.tasks li:after {
        content: '';
        position: absolute;
        left: -18px;
        top: 8px;
        height: 8px;
        width: 8px;
        border-radius: 50%;
    }

    /* ul.tasks li.red:after {
        background: #ff5555;
    }

    ul.tasks li.green:after {
        background: #54D6C7;
        font: 60px sans-serif;
        
    }

    ul.tasks li.yellow:after {
        background: #EAB429;
    } */
    ::marker{
        color: rgb(255, 255, 255);
    }

    ul.tasks::after {
        content: '';
        position: absolute;
        height: 400px;
        width: 1px;
        background: #eee;
        left: 20px;
        top: -68px;
    }

    ul li.hang {
        margin-bottom: 48px;
    }

    ul li.hang img {
        float: left;
        height: 20ox;
        width: 20px;
        border-radius: 50%;
        margin-right: 8px;
    }

    .mainblock {
        border: rgba(255, 255, 255, 0) solid 30px;
    }
    .back{
        background-color: #222;
    }
    .tasks{
        padding-left: 0px;
        font: 40px sans-serif;
        margin-top: 0%;
    }
    .button{
        text-align: center;
        margin-bottom: 15px;
    }
    button{
        background-color: rgb(35, 190, 196);
        font-family: sans-serif;
        border: none;
        height: 50px;
        width: 100px;
        font-size: 15px;
        border-radius: 7px;
        
    }
    .bottom{
        padding-bottom: 15px;
    }
    .mainblock{
        max-height: 900px;
        max-width: 900px;
        margin: auto;

    }
    .back{
        background-image: linear-gradient(to right,rgb(60, 130, 151),rgb(18, 30, 90));
    }
    h3{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        font-size: 60px;
    }
    /* .task-title{
        font: 2em sans-serif;
    } */
    .space{
        height: 0px;
    }
    .user-details{
        font-size: 10rem;
    }
   
</style>
<div class="back">
<div class="mainblock">
    <div class="muck-up">
        <div class="overlay"></div>
        <div class="top">
            <img src="">
            <div class="user-profile">
                <img src="https://www.pngall.com/wp-content/uploads/5/User-Profile-PNG-High-Quality-Image.png">
                <div class="user-details">
                    <!-- write name -->
                    <h4>Devraj Shetke</h4>
                    <!-- write roll number and div -->
                    <!-- <p>Web/Front-end Designer</p> -->
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="filter-btn">
            <a id="one" href="#"><i class="ion-ios-checkmark-outline"></i></a>
            <a id="two" href="#"><i class="ion-ios-alarm-outline"></i></a>
            <a id="three" href="#"><i class="ion-ios-heart-outline"></i></a>
            <a id="all" href="#"><i class="ion-ios-star-outline"></i></a>
            <span class="toggle-btn ion-android-funnel"></span>
        </div>
        <div class="clearfix"></div>
        <div class="bottom">
            <div class="title">
                <h3>My Teams</h3>
            </div>
            <ul class="tasks" ty>
                <li class="one green">
                    <span class="task-title">Technical Teams</span>
                    <span class="task-cat">xyz</span>


                </li>
                <li class="space"></li>
                <li class="one red">
                    <span class="task-title">Non- Technical Teams</span>
                    <span class="task-cat">xyz</span>

                </li>
            </ul>
            <div class="button">
                <button>LOGOUT</button>
            </div>
            
        </div>
    </div>
</div>
</div>

{% endblock %}